.alert-box {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 0.8rem;
    border-radius: 12px;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    z-index: 9999;
    width: clamp(300px, 90%, 350px);
    height: auto;
    color: var(--color-black);
    transform: translateY(20px);
    background-color: var(--color-white-smoke);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .alert-content {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 0.5rem;
  }
  
  .alert-icon {
    font-size: 2rem;
    color: var(--color-backend);
  }
  
  .alert-message {
    margin: 0;
    font-size: 1.1rem;
  }
  
  .dismiss-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--color-error);
  }
  
  .dismiss-button:hover {
    color: var(--color-dark-gray-border);
  }
  
  .alert-box.visible {
    opacity: 1;
    transform: translateY(0);
  }
  
  @media (max-width: 768px) {
    .alert-box {
      width: 95%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  